body {
    background-color: black;
}

.navbar {
    background-color: black;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #79fd94;
}

#mission {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
}

footer {
    position: fixed;
    width: 100%;
    height: 20pt;
}

#copyright {
    color: white;
    float:right;
    font-size: 8pt;
    padding-right: 18pt;
}