body {
    background-color: black;
}

.navbar {
    background-color: black;
}

a {
    color: white;
}

a:hover {
    color: #79fd94 !important;
}

p {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
}