body {
    background-color: black;
}

.navbar {
    background-color: black;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #79fd94;
}

#about {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 18pt;
    transform: translateX(-50%) translateY(-50%);
}

footer {
    position: fixed;
    width: 100%;
    height: 20pt;
}

#copyright {
    color: white;
    float: right;
    font-size: 8pt;
    padding-right: 18pt;
}

#purchase-button {
    position: absolute;
    top: 30%;
    color: white;
    background-color: black;
    border-radius: 4pt;
    width: 35%;
}

#purchase-button:hover {
    color: #79fd94;
    border-color: #79fd94;
}

#payment-cancelled {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 18pt;
    transform: translateX(-50%) translateY(-50%);

}

#payment-success {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 18pt;
    transform: translateX(-50%) translateY(-50%);

}

.shirt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.decal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}