{% extends 'shared/layout.html' %}
{% block title %} Payment {% endblock %}
{% block head %}
    <link href="{{ url_for('static', filename='css/payment.css') }}" rel="stylesheet">{% endblock %}
{% block content %}
    <script src="https://js.stripe.com/v3/"></script>

    <form action="/charge" method="post" id="payment-form">
        <div class="form-row inline">
            <div class="col">
                <label for="name">
                    Name
                </label>
                <input id="name" name="name" placeholder="Jenny Rosen" required>
            </div>
            <div class="col">
                <label for="email">
                    Email Address
                </label>
                <input id="email" name="email" type="email" placeholder="jenny.rosen@example.com" required>
            </div>
        </div>


        <div class="form-row">
            <label for="iban-element">
                IBAN
            </label>
            <div id="iban-element">
                <!-- A Stripe Element will be inserted here. -->
            </div>
        </div>
        <div id="bank-name"></div>

        <button>Submit Payment</button>

        <!-- Used to display form errors. -->
        <div id="error-message" role="alert"></div>

        <!-- Display mandate acceptance text. -->
        <div id="mandate-acceptance">
            By providing your IBAN and confirming this payment, you authorise
            (A) Rocketship Inc.
            and Stripe, our payment service provider, to send instructions to your bank to
            debit your account and (B) your bank to debit your account in accordance with
            those instructions. You are entitled to a refund from your bank under the terms
            and conditions of your agreement with your bank. A refund must be claimed
            within 8 weeks starting from the date on which your account was debited.
        </div>
    </form>

    <div class="sr-root">
      <div class="sr-main">
        <form id="payment-form" class="sr-payment-form">
          <div class="sr-combo-inputs-row">
            <div class="sr-input sr-card-element" id="card-element"></div>
          </div>
          <div class="sr-field-error" id="card-errors" role="alert"></div>
          <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay</span><span id="order-amount"></span>
          </button>
        </form>
        <div class="sr-result hidden">
          <p>Payment completed<br /></p>
          <pre>
            <code></code>
          </pre>
        </div>
      </div>
    </div>
{% endblock %}